---
import Layout from '../layouts/Layout.astro';
import about from  '../img/about-us.jpg';
---

<Layout title="About Us" description="Home of the GuitarLA Store, music instruments">
	<main class="container">
		<h1 class="heading">About Us</h1>
        <div class="content">
            <img src={about} alt="about us">
        </div>
	</main>
</Layout>

<style>
	
</style>