---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home" description="Home of the GuitarLA Store, music instruments">
	<main class="container">
		<h1 class="heading">Home</h1>
	</main>
</Layout>

<style>
	
</style>
