---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home" description="Home of the GuitarLA Store, music instruments">
	<main>
		<h1>Home</h1>
	</main>
</Layout>

<style>
	
</style>
