---
import Layout from '../layouts/Layout.astro';
const url = `{}guitars`
const response = await fetch(url)
const {data} = await response.json()
---

<Layout title="Store" description="Store of the GuitarLA Store, music instruments">
	<main class="container">
		<h1 class="heading">Our Collection</h1>
		<div class="grid">
			{data?.map(guitar => (
				<h1>{guitar.attributes.name}</h1>
			))}
		</div>
	</main>
</Layout>

<style>
	
</style>